// Variables

// - Sizing
$webContainerMaxWidth:960px;
$mainHeaderHeight:50px;
$navSliderWidth:90vw;

// - Colour
$primaryColour:#EBEBEB;
$secondaryColour:#DBDBDB;

// Mixins
@mixin marginCenter($marginVert,$width){
	margin:$marginVert auto;
	width:$width;
}

@mixin setPos($type,$top,$bottom,$left,$right){
	position:$type;

	@if $top != "nul" {
		top:$top;
	}
	@if $bottom != "nul" {
		bottom:$bottom;
	}

	@if $left != "nul" {
		left:$left;
	}
	@if $right != "nul" {
		right:$right;
	}
}

@mixin logoHeadingFont(){
	color:#981611;
	font-family:"Trebuchet MS","Lucida Grande",Verdana,Arial,Sans-Serif;
	font-weight:700;
	text-align:center;
}


// CSS

// - Break from CSS methodology to enforce DRY
* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

a {
	text-decoration:none;
}

.logoContainer__anchor {
	display:block;
	height:100%;
	width:100%;
}


// - CSS Methodology
.webBody {
	margin-top:$mainHeaderHeight;
	line-height:1.5;
}

.webContainer {
	max-width:$webContainerMaxWidth;
	width:100vw;
}

.mainHeader {
	@include setPos(fixed,0,nul,0,nul);
	width:100vw;
	height:$mainHeaderHeight;
	display:flex;
	justify-content:space-around;
	background-color:$primaryColour;
}

.navButtonOpenContainer {
	display:inline-block;
	order:1;
	padding:5px;
}
.navButtonOpenContainer__navButtonBars {
	font-size:2.5em;
}

.mainLogoContainer {
	display:inline-block;
	max-width:300px;
	width:80%;
	margin:5px;
	order:2;
	background:url(../img/logo_background.jpg) no-repeat;
}
.mainLogoContainer__heading {
	@include logoHeadingFont();
	font-size:1.6em;
}

.navSlider {
	@include setPos(fixed,0,nul,-$navSliderWidth,nul);
	width:$navSliderWidth;
	height:100vh;
	background-color:$primaryColour;
	transition:0.35s all linear;
}
.navSlider--open {
	left:0;
}
.navSlider__header {
	width:100%;
	height:$mainHeaderHeight;
	background-color:$secondaryColour;
	display:flex;
	justify-content:space-around;
}
.navSlider__content {
	width:100%;
	height:fit-content;
}

.navLogoContainer {
	display:inline-block;
	max-width:280px;
	width:85%;
	margin:5px;
	order:1;
	background:url(../img/logo_background.jpg) no-repeat;
}
.navLogoContainer__heading {
	@include logoHeadingFont();
	font-size:1.5em;
}

.navButtonCloseContainer {
	display:inline-block;
	order:2;
	padding:5px;
}
.navButtonCloseContainer__navButtonLeftArrow {
	font-size:2.4em;
}

.navSliderLinks {

}

.navSliderList {
	list-style:none;
	text-align:center;
	font-size:1.25em;
}
.navSliderList__listItem {}
.navSliderList__listItem--withNest {}

.navSliderNestedList {}
.navSliderNestedList__listItem {}

.navFadeOut {
	@include setPos(fixed,0,nul,nul,-(100-$navSliderWidth));
	width:(100-$navSliderWidth);
	height:100vh;
	background-color:black;
	opacity:0.75;
	transition:0.35s all linear;
}
.navFadeOut--active {
	right:0;
}
