// Imports

// - FontAwesome
@import "fontawesome/fontawesome.scss";
// @import "fontawesome/brands.scss";
// @import "fontawesome/regular.scss";
@import "fontawesome/solid.scss";


// Variables

//- Sizing
$headerHeight: 52px;

//- Colorscheme
$black: #000;
$green: #1c1;
$grey: #617073;
$blue: #5581c0;
$white: #fff;

//- Colors
$logoColor: #981611;

//- Fonts
$logoFonts: "Trebuchet MS", "Lucida Grande", Verdana, Arial, Sans-Serif;

//- Other
$logoBG: url(../img/logo_background.jpg) top left / cover no-repeat;


//- Mixins
@mixin position($type, $top, $right, $bottom, $left){
	position: $type;

	@if $top != "nul" {
		top: $top;
	}

	@if $right != "nul" {
		right: $right;
	}

	@if $bottom != "nul" {
		bottom: $bottom;
	}

	@if $left != "nul" {
		left: $left;
	}
}

@mixin margin($top, $right, $bottom, $left){
	@if $top != "nul" {
		margin-top: $top;
	}

	@if $right != "nul" {
		margin-right: $right;
	}

	@if $bottom != "nul" {
		margin-bottom: $bottom;
	}

	@if $left != "nul" {
		margin-left: $left;
	}
}

@mixin padding($top, $right, $bottom, $left){
	@if $top != "nul" {
		padding-top: $top;
	}

	@if $right != "nul" {
		padding-right: $right;
	}

	@if $bottom != "nul" {
		padding-bottom: $bottom;
	}

	@if $left != "nul" {
		padding-left: $left;
	}
}

@mixin transition($prop){
	        transition: $prop;
	-webkit-transition: $prop;
	    -ms-transition: $prop;
	   -moz-transition: $prop;
}

@mixin fontAwesomeIcon($unicode, $fontSize){
	font-family: "Font Awesome 5 Free";
	content: $unicode;
	font-size: $fontSize;
}

@mixin transform($type){
	        transform: $type;
	-webkit-transform: $type;
	    -ms-transform: $type;
	   -moz-transform: $type;
}


//- CSS
/* Default Styles */
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	line-height: 1.5;
}

body {
	padding-top: $headerHeight;
	background-color: $grey;
}

/* CJT Logo */
.logo {
	height: 100%;
	-ms-flex-line-pack: center;
	    align-content: center;
	background: $logoBG;
}

.logo__anchor {
	display: block;
}

.logo__heading {
	@include margin(0, nul, 0, nul);
	color: $logoColor;
	font-family: $logoFonts;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	line-height: $headerHeight;
}


/* Specific Styles */
/* Header */
.header {
	@include position(fixed, 0, 0, nul, 0);
	height: $headerHeight;
	background-color: $white;
	z-index: 1;
}

.header__navControl {
	@include padding(10px, 5px, 5px, 5px);
	text-align: center;

	i {
		font-size: 2.3em;
	}
}

.header__navClose {
	padding-top: 7.5px;
}

.header__nav {
	height: 50px;
	background-color: $white;

	a {
		color: $black;
	}

	a:not(.dropdown-item):not(.dropdown-toggle):not(.disabled):hover {
		text-decoration: underline;
	}
}


/* Slide-out Navigation */
.navSlider {
	@include position(fixed, 0, nul, 0, -90vw);
	@include transition(.35s all linear);
	width: 90vw;
	background-color: $grey;
	z-index: 2;
}

.navSlider__header {
	height: $headerHeight;
	background-color: $white;

	> div {
		height: 100%;
	}
}

.navSlider__nav {
	padding: 5px;

	a {
		display: block;
		color: $black;
	}
}

.navSlider__navList {
	margin-bottom: 0;
	border-top: 1px solid $black;
	list-style: none;
	text-align: center;
	font-size: 1.1em;

	> li {
		border-bottom: 1px solid $black;
		min-height: 40px;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		line-height: 40px;
	}
}

.navSlider--open {
	left: 0;
}

.navSlider__nav--nested {
	@include position(relative, nul, nul, nul, nul);

	ul {
		@include transition(.2s all linear);
		height: 0px;
		max-height: -webkit-fit-content;
		max-height: -moz-fit-content;
		max-height: fit-content;
		overflow: hidden;
	}
}

.navSlider__nav--nested::after {
	@include position(absolute, 0, nul, nul, 90%);
	@include fontAwesomeIcon("\f0d7", 1.25em);
	@include transition(.1s all linear);
	@include transform(rotate(-90deg));
}

.navSlider__nav--nestedOpen::after {
	@include transform(rotate(0deg));
}

.navSlider__nestedNav--open {
	height: 20vh !important;
}


/* Slide-out navigation blackout */
.navFadeOut {
	@include position(fixed, 0, 0, 0, 100vw);
	@include transition(.35s all linear);
	width: 10vw;
	background-color: $black;
	opacity: .75;
	z-index: 2;
}

.navFadeOut--active {
	left: 90vw;
}

/* Sidebar */
.sidebar {
	padding: 5px;
}

.sidebar__content:not(:last-child) {
	margin-bottom: 5px;
}

.sidebar__content {
	border: 2px solid $blue;
	background-color: $white;

	.sidebar__contentHeading {
		background-color: $blue;
		text-align: center;

		h2 {
			margin-bottom: 0;
			font-family: Arial, sans-serif;
			font-size: 1.25em;
		}
	}

	div:not(.sidebar__contentHeading) {
		padding: 5px;

		p {
			margin-bottom: 0;
		}

		ul {
			@include margin(nul, nul, 0, 15px);
			padding-left: 5px;
		}
	}
}

/* Main page content */
.mainContent {
	padding: 5px;
}

.mainContent__content:not(:last-child) {
	margin-bottom: 5px;
}

.mainContent__content {
	border: 2px solid $blue;
	background-color: $white;

	.mainContent__contentHeading {
		background-color: $blue;
		text-align: center;

		h2 {
			margin-bottom: 0;
			font-family: Arial, sans-serif;
			font-size: 1.25em;
		}
	}

	div:not(.mainContent__contentHeading) {
		padding: 5px;

		p {
			margin-bottom: 0;
		}

		span {
			font-size: .9em;
			font-style: italic;
			margin-bottom: 5px;
		}
	}
}

/* Footer */
.footer {
	@include margin(5px, 5px, nul, 5px);
	padding: 5px;
	background-color: $white;

	> .row > .col {
		> div:nth-child(even) {
			margin-bottom: 5px;
			border-bottom: 1px solid $black;
			padding-bottom: 5px;
		}

		.btn {
			color: $white;
			background-color: $blue;
			border-color: $blue;
		}

		ul {
			@include margin(nul, nul, 0, 15px);
			padding-left: 5px;
		}
	}
}


@media (min-width: 768px) and (max-width: 991.98px) {
	.header__nav {
		display: none;
	}

	.navSlider__nav--nested::after {
		left: 95%;
	}
}

@media (min-width: 992px) {
	body {
		padding-top: (($headerHeight * 2) + 50px);
	}

	.header {
		height: ($headerHeight * 2);
	}

	.header__navControl {
		display: none;
	}

	.logo__heading {
		line-height: ($headerHeight * 2);
	}

	.footer > .row > .col {
		> div:nth-child(even) {
			@include margin(nul, 5px, 0, nul);
			@include padding(nul, 5px, 0, nul);
			border-right: 1px solid $black;
			border-bottom: 0;
			height: 100%;
		}

		> div:nth-child(odd):not(:last-child) {
			width: 36.25%;
		}

		> div:last-child {
			width: 25%;
		}

		// > div:nth-child(odd) {
		// 	width: 32.5%;
		// }

		> div {
			float: left;
		}
	}
}
