// Imports

// CSS Reset
@import "../css/normalize.css";

// - FontAwesome
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";

// Variables

// - Sizing
$webContainerMaxWidth: 960px;
$mainHeaderHeight: 50px;
$navSliderWidth: 90vw;
$footerInputHeight: 4vh;

// - Color
$primaryColor: #ebebeb;
$secondaryColor: #d1d1d1;
$tertiaryColor: #858585;
$logoColor: #981611;

// Fonts
$placeholderFonts: Arial, sans-serif; // To be removed
$headingFonts: $placeholderFonts;
$sectionContentFonts: $placeholderFonts;
$logoFonts: "Trebuchet MS", "Lucida Grande", Verdana, Arial, Sans-Serif;

// Other
$logo: url(../img/logo_background.jpg) no-repeat;

// Mixins
@mixin position($type, $top, $right, $bottom, $left){
	position: $type;

	@if $top != "nul" {
		top: $top;
	}

	@if $right != "nul" {
		right: $right;
	}

	@if $bottom != "nul" {
		bottom: $bottom;
	}

	@if $left != "nul" {
		left: $left;
	}
}
@mixin margin($top, $right, $bottom, $left){
	@if $top != "nul" {
		margin-top: $top;
	}

	@if $right != "nul" {
		margin-right: $right;
	}

	@if $bottom != "nul" {
		margin-bottom: $bottom;
	}

	@if $left != "nul" {
		margin-left: $left;
	}
}
@mixin padding($top, $right, $bottom, $left){
	@if $top != "nul" {
		padding-top: $top;
	}

	@if $right != "nul" {
		padding-right: $right;
	}

	@if $bottom != "nul" {
		padding-bottom: $bottom;
	}

	@if $left != "nul" {
		padding-left: $left;
	}
}

@mixin flex($options){
	display: flex;
	display: -ms-flexbox;

	@if $options != "nul" {
		    flex: $options;
		-ms-flex: $options;
	}
}

@mixin justifyContent($justify){
	justify-content: $justify;
	  -ms-flex-pack: $justify;
}

@mixin alignContent($align){
	     align-content: $align;
	-ms-flex-line-pack: $align;
}

@mixin alignSelf($align){
	         align-self: $align;
	-ms-flex-item-align: $align;
}

@mixin flexDirection($direction){
	    flex-direction: $direction;
	-ms-flex-direction: $direction;
}

@mixin transform($type){
	        transform: $type;
	-webkit-transform: $type;
	    -ms-transform: $type;
	   -moz-transform: $type;
}

@mixin transition($prop){
	        transition: $prop;
	-webkit-transition: $prop;
	    -ms-transition: $prop;
	   -moz-transition: $prop;
}

@mixin fontAwesomeIcon($unicode, $fontSize){
	font-family: "Font Awesome 5 Free";
	content: $unicode;
	font-size: $fontSize;
}

// CSS
/* Global Styles */
* {
	padding: 0;
	margin: 0;
}

html {
	line-height: 1.5;
}

body {
	padding-top: $mainHeaderHeight;
}

.logoContainer__anchor {
	@include alignSelf(center);
}

.logoContainer__heading {
	color: $logoColor;
	font-family: $logoFonts;
	font-weight: 700;
	text-align: center;
	font-size: 1.5em;
	margin: 0;
}

.navButtonContainer {
	display: inline-block;
	padding: 5px;

	i {
		font-size: 2.45em;
	}
}

/* Individual Styles */
.mainHeader {
	@include position(fixed, 0, 0, nul, 0);
	@include flex(nul);
	@include padding(nul, .25rem, nul, .25rem);
	width: 100vw;
	height: $mainHeaderHeight;
	justify-content: space-around;
	background-color: $primaryColor;
}

.logoContainer {
	@include flex(1 1 auto);
	@include justifyContent(center);
	min-width: 300px;
	width: 80%;
	margin: 5px;
	background: $logo;
}

.navSlider {
	@include position(fixed, 0, nul, nul, -$navSliderWidth);
	@include transition(.35s all linear);
	width: $navSliderWidth;
	height: 100vh;
	background-color: $primaryColor;

	header {
		@include flex(nul);
		@include justifyContent(space-around);
		width: 100%;
		height: $mainHeaderHeight;
		background-color: $secondaryColor;

		.navLogoContainer {
			min-width: 280px;
			width: 85%;
			margin: 5px;
			background: $logo;
		}
	}

	.navSlider__content {
		width: 100%;
		height: fit-content;

		.navSliderList {
			list-style: none;
			text-align: center;
			font-size: 1.25em;
			margin-bottom: 0;

			.navSliderList__listItem {
				width: 100%;
				height: 7.5%;
				border-bottom: 1px solid grey;

				.navSliderList__anchor {
					@include position(relative, nul, nul, nul, nul);
					@include flex(nul);
					@include flexDirection(column);
					color: black;
					padding: .5em 0;

					.navSliderList__anchorText {
						@include flex(nul);
						@include justifyContent(center);
						height: 1.5em;
					}
				}

				.navSliderList__anchor--withCaret::after {
					@include fontAwesomeIcon("\f0d7", 1.25em);
					@include transition(.1s all linear);
					@include position(absolute, 10%, 0, 0, 82%);
				}

				.navSliderList__anchor--withClosedCaret::after {
					@include transform(translateY(-2px) rotate(-90deg));
				}

				.navSliderList__anchor--withDisabledCaret::after {
					display: none;
				}

				.navSliderNestedList {
					display: none;
					font-size: 1em;

					.navSliderNestedList__listItem {
						border: 0;
					}
				}

				.navSliderNestedList--open {
					display: block;
				}
			}

			.navSliderList__listItem--openNest {
				height: fit-content;
			}
		}
	}
}

.navSlider--open {
	left: 0;
}

.navFadeOut {
	@include position(fixed, 0, -(100-$navSliderWidth), nul, nul);
	@include transition(.35s all linear);
	width: (100 - $navSliderWidth);
	height: 100vh;
	background-color: black;
	opacity: .75;
}

.navFadeOut--active {
	right: 0;
}

.mainContent {
	margin: 5px;

	section {
		background-color: #ebebeb;
		margin-bottom: 5px;

		header {
			@include flex(nul);
			@include justifyContent(center);
			@include alignContent(center);
			@include flexDirection(column);
			height: 7.5vh;
			background-color: #d1d1d1;

			h2 {
				font-family: Arial, sans-serif;
				text-align: center;
				line-height: 1.2;
				font-size: 1.1em;
				font-weight: 400;
			}

			.mainContent__welcomeHeading {
				text-transform: uppercase;
			}
		}

		div {
			font-family: Arial, sans-serif;
			text-align: justify;
			padding: 5px;

			ul {
				margin-left: 5%;
				padding-left: 1.5%;
			}

			q {
				font-style: italic;
			}

			.mainContent__postDate {
				font-size: .9em;
				font-style: italic;
				margin-bottom: 5px;
			}
		}

		.mainContent__content--noAlign {
			text-align: initial;
		}
	}
}

.mainFooter {
	max-height: 400px;
	height: 60vh;
	background-color: $tertiaryColor;
	padding: 5px;

	div {
		border-bottom: 1px solid black;
		text-align: center;
		padding-bottom: 5px;

		.mainFooter__subscribeHeading {
			text-align: left;
			margin-left: 5px;
		}

		input {
			height: $footerInputHeight;
			font-size: 1em;
		}

		.mainFooter__searchInput {
			width: 85%;
		}

		.mainFooter__subscribeInput {
			width: 97.5%;
		}

		button {
			height: $footerInputHeight;
			font-size: 1em;
			background-color: $primaryColor;
			border-radius: 0;
		}

		.mainFooter__searchButton {
			width: 12.5%;
			margin-left: -4px;
		}

		.mainFooter__subscribeButton {
			width: 97.5%;
		}

		ul {
			margin-left: 20px;

			a {
				display: block;
			}
		}
	}

	.mainFooter__sitemap {
		text-align: initial;
		font-size: 1.1em;
	}
}
